/*!RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*!GENERAL STYLES*/
:root {
  --primary-color: #000000;
  --secondary-color: #1a8b9d;
  --tertiary-color: #064663;
  --quaternary-color: #fff5f5;
  --font-family-lato: "Lato", sans-serif;
}

body {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*!BLOG GENERAL CONTAINER*/
.blog {
  width: 80%;
  height: 80%;
  background-color: var(--quaternary-color);
  display: flex;
  flex-direction: column;
}

/*!BLOG HEADER*/
.blog__header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.header__logo {
  flex: 1;
}

.header__menu {
  flex: 2;
}

.header__menu>ul {
  display: flex;
  justify-content: space-around;
}

/*!BLOG CONTENT*/
.blog__content {
  display: flex;
  flex: 11;
  height: 100%;
  overflow: hidden;
}

/*!BLOG-SLIDER*/
.blog__slider {
  /* background-image: url("https://via.placeholder.com/500x500"); */
  /* background-size: 100% 100%; */
  /* background-position: center;
  background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
  width: fit-content;
  flex: 1;
}

.carousel-inner {
  height: 100%;
}

/* .carousel-item {
  height: 500px;
} */
.carousel-item .active {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  /* position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    max-width: 100%; */
  /* object-fit: contain;
    object-position: center;
    overflow: hidden; */
  height: 100% !important;
  opacity: 0.65;
}

.carousel-item>h5 {
  position: absolute;
  bottom: 10%;
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

/*!BLOG-POSTS CONTAINER*/
.blog__posts {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.post {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: fit-content;
}

.post__img img {
  width: 100%;
}

/*!MODAL*/
.modal--hide {
  display: none;
}