/*!RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*!GENERAL STYLES*/
:root {
  --primary-blue: #85b6ff;
  --primary-color: #000000;
  --secondary-color: #1a8b9d;
  --tertiary-color: #064663;
  --quaternary-color: #fff5f5;
  --font-family-lato: "Lato", sans-serif;
}
body {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*!BLOG GENERAL CONTAINER*/
.blog {
  width: 80%;
  height: 80%;
  background-color: var(--quaternary-color);
  display: flex;
  flex-direction: column;
}
/*!BLOG HEADER*/
.blog__header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.header__logo {
  flex: 1;
}
.header__menu {
  flex: 2;
}
.header__menu > ul {
  display: flex;
  justify-content: space-around;
}

/*!BLOG CONTENT*/
.blog__content {
  display: flex;
  flex: 11;
  overflow: hidden;
}

/*!BLOG-SLIDER*/
.blog__slider {
  background-image: url("https://via.placeholder.com/500x500");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}
/*!BLOG-POSTS CONTAINER*/
.blog__posts {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}
.post {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: fit-content;
}
.post__img img {
  width: 100%;
}
/*!MODAL GENERAL*/
.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.966);
}
.container--hide {
  display: none !important;
}
.modal__close {
  position: absolute;
  color: black;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}
/*!MODAL INFO*/
.modal-info {
  display: flex;
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 0px 0px 23px -8px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 23px -8px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 23px -8px rgba(255, 255, 255, 1);
}
.modal__content {
  flex: 2;
  position: relative;
  background-color: aliceblue;
  color: #000000;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: space-evenly;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.modal__title {
  font-size: 2.1rem;
  text-transform: uppercase;
}
.modal__body {
  font-size: 1.2rem;
}
.user__container,
.email__container {
  display: flex;
  padding: 0.3rem 0;
}
.user__container > i,
.email__container > i {
  color: var(--primary-blue);
  padding: 0 1rem 0 0;
}
.modal__button-container {
  display: flex;
  justify-content: center;
}
/*!MODAL IMG*/
.modal__img {
  flex: 1.2;
  background-image: url("../assets/modal-info-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/**Comments*/
.comments-container {
  height: 40%;
  overflow-y: auto;
}
.comment__item {
  padding: 1rem 0;
}
.comment__item > * {
  padding: 0.2rem 0;
}
.comment__name {
  text-transform: uppercase;
}
.comment__email {
  font-size: 0.8rem;
  opacity: 0.7;
}
.comment__separator {
  background-color: var(--primary-blue);
  margin-top: 1rem;
  padding: 0.02rem 0 !important;
  border: none;
}
/*!BUTTONS*/
.primary__btn {
  cursor: pointer;
  background-color: var(--primary-blue);
  color: white;
  font-size: 0.9rem;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  border: none;
}
